.custom_btn{
    display: flex;
    background-color: var(--main-color) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: 0 !important;
    border-radius: 50px !important;
    padding: 1px 12px !important;
    line-height: 30px !important;
    min-width: 100px !important;
    outline: none !important;
    cursor: pointer;
}

.custom_btn .btn_icon_container{
    color: var(--icon-color) !important;
    background: #fff !important;
    border-radius: 50px !important;
    height: 27px !important;
    width: 27px !important;
    line-height: 29px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.custom_btn .btn_icon_container > .MuiSvgIcon-root{
    font-size: 12px !important;
}
.custom_btn .btn_text{
    font-size: 14px !important;
    text-transform: none !important;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}