.customTabs{

}

.customTabs .customTabs_item{
    padding: 0 !important;
    min-width: 0 !important;
    margin-right: 20px !important;
    text-transform: inherit !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    outline-width: 0px !important;
}

.customTabs .active {
    color: var(--main-color) !important;
}

/* cards */

.customCard {
    height: 100%;
    max-width: 350px;
    box-shadow: 0 0 48px 0 rgba(4, 6, 4, 0.8);
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important;
}
.customCard .customCard_image {
    height: 140px;
    
}

.customCard .customCard_title {
    font-weight: 500;
}

.customCard .customCard_caption {
    color: darkslategray !important;
    font-weight: 400 !important;
}



/* Dialog */
.projectDialog .projectDialog_image{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.projectDialog .projectDialog_description{
    margin-top: 10px !important;
    
}

.projectDialog .projectDialog_actions{
    margin-bottom: 10px !important;
    justify-content: center !important;
}

.projectDialog .projectDialog_icon{
    color: darkslategray !important;
    margin: 0 12px;
    cursor: pointer;
}

.projectDialog .projectDialog_icon:hover{
    color: var(--main-color) !important;
    
}

.projectDialog .projectDialog_icon > .MuiSvgIcon-root {
    font-size: 30px !important;
}